<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="project4.Properties.Settings._3393_Shipp_Fall2019ConnectionString"
            connectionString="Data Source=msenterprise.waltoncollege.uark.edu;Initial Catalog=3393_Shipp_Fall2019;Persist Security Info=True;User ID=lrd002;Password=BizDevPass10761207!"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>